* {
    margin: 0px;
    padding: 0px;
}

body {
    /* background-color: whitesmoke; */
    background-image: url(images/Image3_2022-03-30_at_3.21.13_PM-removebg-preview.png);
    background-size: cover;
}

.main-cont {
    width: 400px;
    height: 400px;
    background-color: blueviolet;
    border-radius: 80px;
    position: relative;
    top: 50px;
    color: white;
}

legend {
    margin-top: 50px;
    font-family: sans-serif;
    color: white;
    font-size: large;
    position: relative;
    top: 20px;
}

legend .kill {
    font-family: sans-serif;
    color: violet;
    font-size: large;
}

.first-cont {
    margin-top: 80px;
}

.first-cont label {
    position: relative;
    right: 100px;
}

.first-cont input {
    width: 300px;
    border-radius: 10px;
    border: none;
}

button {
    background-color: violet;
    color: whitesmoke;
    border-radius: 10px;
    width: 100px;
    border: none;
}